.app-area{
    display:flex;
    height: 100%;
    width:100%;
    justify-content: space-between;
    align-items: center;
  
}
.app-name{
    font-size:1em;
    transition: opacity 0.3s ease-in-out;
}

.username {   
    vertical-align: middle;    
}


.dropdown-icon{
    font-size:1.5em;          
}

.icon-wrapper{                
    
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    padding-right:2.5%;    
    padding-left:2.5%;    
    transition: opacity 0.3s ease-in-out;
}
.icon-wrapper > mat-icon{  
      
    font-size:2.4em;  
    height: auto !important;
    width: auto !important;
}

.user-actions-mobile{
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    padding-right:4%;    
    padding-left:4%;  
    
}

.user-actions-mobile >mat-icon{
    font-size:2em;  
    height: auto !important;
    width: auto !important;
}

.toolbar> mat-toolbar-row{
    padding:0px;
}



.toolbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%  !important;
    
}




.mat-menu-panel.user-dropdown {
    max-width:none;
    width: 100vw; 
      overflow: visible;
  }
  
  .user-actions{   
      display: none;    
      position: absolute;
      right: 0px;
      height: inherit;    
      box-sizing: border-box;
      width:30vw;
      padding-left:30px;
      padding-right:30px;
      justify-content: space-between;
      align-items: center;
      cursor: pointer; cursor: hand;
  }



@media all and (min-width: 768px){

    .icon-wrapper{
        padding-right:1.5%;    
        padding-left:1.5%;    
    }
    .user-icon{
        font-size:1.8em;  
    }

   .app-name{
        font-size:1.7em;
        width  :90%;
  }

 .user-actions{
    display: flex;    
 }
 .user-actions-mobile{
    display:none;
 }
    
 .mat-menu-panel.user-dropdown {
  
    width: 30vw; 
  
  }
  

}

 
