<mat-toolbar class="toolbar" color="primary" *ngIf="user">
  <div class="app-area" *ngIf="currentApp">
    <div class="goback" (click)="goHome()">
      <mat-icon class="btn-goback">keyboard_arrow_left</mat-icon>
    </div>
    <span class="app-name">{{currentApp.name}}</span>
    <div class="app-options">
      <div class="app-option" *ngFor="let option of currentApp.options;let i=index;" (click)="loadOption(i)">
        {{option.name}}
      </div>
    </div>
  </div>
  <div class="user-actions" [matMenuTriggerFor]="appMenu">

    <mat-icon class="user-icon">person</mat-icon>
    <span class="space"></span>
    <div class="username">
      {{user.email}}
    </div>
    <span class="space"></span>
    <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
  </div>
</mat-toolbar>

<!-- drop down > <!-->
<mat-menu #appMenu="matMenu" class="user-dropdown" [overlapTrigger]="false">
  <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Configuracion</span>
      </button>
  <button mat-menu-item>
        <mat-icon>help_outline</mat-icon>
        <span>Ayuda</span>
      </button>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Cerrar Sesión</span>
  </button>


</mat-menu>