

@mixin app-navbar-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .icon-wrapper:hover, .user-actions-mobile:hover, .app-option:hover, .goback:hover
  , .app-option-selected ,.user-actions:hover{
    background-color:mat-color($primary, 400);
  } 
  
    

}
