.home-component{    
    height: 100%;
    width:100%;  
  
    //background-color: #eee;
    padding-top:75px;
    background-image: url('/assets/img/home-background.jpg');   
    background-size: cover;
}


.grid-wrapper{    
/*use repeat(# of times, measurement)     */
margin-left:5%;
width: 90%;

display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap:2em;  

}

.app-box{
    cursor: pointer; cursor: hand;       
    
    padding-top: 20px;
    border:1px solid transparent;
    border-radius:15px;  
    padding: 1em;
    text-align: center;
    transition: all .5s ease;
}

.app-box:hover{
   
    border:1px solid ;
    background-color:rgba(255,0,0,0.4)  ;      
    
}

.app-icon{
    font-size:5em;    
    width: 100%;
    color:#F5F5F5;font:bold;
    margin-bottom: 1em;    

}
.app-text{
    
    width:100%;
    word-wrap: break-word;         
    font-size:1.2em;
    color:white;font:bold;       
}

@media all and (min-width: 1024px){
    .grid-wrapper{    
        /*use repeat(# of times, measurement)     */
        margin-left:15%;
        width: 70%;        
        grid-template-columns: repeat(5,1fr);
        
        
        }

        .app-text{
               
            font-size:1.5em;
          
            
        }

        .app-icon{
            font-size:7em;    
            
        
        }
  }
  