.home-component{    
    height: 100%;
    width:100%;  
  
    //background-color: #eee;
    padding-top:75px;
    background-image: url('/assets/img/1.jpg');   
    background-size: cover;
}


.grid-wrapper{    
/*use repeat(# of times, measurement)     */

max-width:90%;
position:relative;
display: flex;
justify-content: space-between;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
margin:auto;
transition: opacity 0.3s ease-in;


}

.app-box{
    cursor: pointer; cursor: hand;     
    position: relative;
    box-sizing:border-box;
    height:0;
    width:48%;
    padding-bottom:48%;
    margin-bottom: 2%;
    margin-top: 2%;
    
    
    
     
    
    
    border:1px solid red;    
    border-radius:15px;      
    
    transition: border,background-color .3s ease-in;

    text-align: center
  
    
}

.app-box:hover{
   
    border:1px solid ;
    background-color:rgba(255,0,0,0.4)  ;      
    
}

.app-icon{   
    margin-top:4vw; 
    width: 100%;
    font-size:25vw;        
    color:#F5F5F5;font:bold;
}

.app-icon:hover{   
    
    
}
.app-text{ 
       
    width:100%;
    word-wrap: break-word;         
    font-size:5vw;        
    color:white;font:bold;       
}

@media all and (min-width: 768px){
    .grid-wrapper{    
        /*use repeat(# of times, measurement)     */
     
      width: 70%;        
     
      
        
        
        }

        .app-box{
            width:17%;
            padding-bottom:17%;

            margin-bottom: 1.875%;
            
        }

        .app-text{               
            font-size:1.7vw;                  
        }

        
        .app-icon{
            margin-top:auto;
            font-size:8vw;  
          
            
        
        }

        
  }
  