<h1>{{form.title || "sin titulo"}}</h1>

<!-- GRID THAT SHOWS OVER THE FORM  ()
<div style="position:absolute;top:300px;left:0px;display:grid;width:80%;height:100%;
grid-template-columns:repeat(3,1fr);grid-gap: 0px;
grid-template-rows:repeat(10,1fr);">

  <div  *ngFor="let x of 30|times" style="border:3px solid blue;height:100%"></div>

</div>

-->

<form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="grid-container" [ngStyle]="{}" > <!-- [dragula]='"nested-bag"'-->


  <div *ngFor="let field of form.fields;let i=index" style="padding: 10px 10px 0px 10px;border:1px solid gray;border-radius:10px;"
    [style.visibility]="field.appearance.visible? 'visible':'visible'" [ngStyle]="{'grid-columnn-end': 'span ' + field.appearance.colspan , 
                 'grid-row-end': 'span '+field.appearance.rowspan || 1}" [ngClass]="getColspan(field)">

    <!--Field Options -->
    <div style="text-align:right;width:100%" *ngIf="editMode">
      <i class="handle material-icons">zoom_out_map</i>
      <i class="material-icons">settings</i>
      <i class="material-icons">close</i>
    </div>

    <form-field [field]="field" [formGroup]="formGroup"></form-field>

  </div>

  
  <div  style="white-space:nowrap;" class="colspan-sm-12">
    <button mat-raised-button color="primary" style="width:50%" [disabled]="false" type="submit">Enviar</button>
    <button mat-raised-button color="warn" style="width:50%" [disabled]="formGroup.pristine" (click)="resetForm()">Limpiar</button>
  </div>
<!--
  <div>
    Contenido: {{formGroup.value| json}} Estado: {{formGroup.status| json}}
   FormStatus: {{formGroup.get('001').pristine| json}} 
  </div>
-->

</form>

<div>

</div>


<!-- FormStatus: {{formGroup.get('001').pristine| json}} 
<h1>JSON</h1>
<div>
  {{form| json}}  
</div>
-->