<h1>{{form.title || "sin titulo"}}</h1>
 <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
    <div *ngFor="let field of form.fields" >
      <form-field [field]="field" [formGroup]="formGroup"></form-field>
    </div>

    <div>
      <button type="submit" [disabled]="!formGroup.valid">Enviar</button>
      <button type="revert" [disabled]="formGroup.pristine" (click)="resetForm()">Limpiar</button>
    </div>
    
    <div>
      Contenido: {{formGroup.value| json}}
      Estado: {{formGroup.status| json}}
     <!-- FormStatus: {{formGroup.get('001').pristine| json}} -->
    </div>  
 </form>

<!--
<div class="form-component">   
    dfjslf           
  <ng-template ad-host></ng-template>
</div>
-->