<div>
    <!-- *ngIf="formGroup.get(field.id)" TODO:-->
    <!-- FormItems composite, creates all of it's children -->
    <div *ngIf="field.subItems;ngElseBlock">
        <form-field *ngFor="let child of field.subItems;let i=index" [field]="child" [formGroup]="formGroup"></form-field>
    </div>

    <div #ngElseBlock [ngSwitch]="field.controlType" style="width:100%" [formGroup]="formGroup">
        <!-- Empty Space-->
        <div *ngSwitchCase="'empty'" style="width:100%"></div>

        <!-- Text Box -->
        <mat-card *ngSwitchCase="'textcard'" style="font-weight: bold;font-size:1.5em;height:1em">TURNO 1</mat-card>

        <!-- Text Input-->
        <mat-form-field *ngSwitchCase="'textbox'" style="width:100%" >
            <input matInput [formControlName]="field.id" placeholder="{{field.placeholder}}"    [maxlength]="field.maxLength"
            
                (blur)="onBlurInput()" >
            <mat-hint align="end" *ngIf="field.maxLength ">
                {{ formGroup.get(field.id).value.length || 0}}/{{field.maxLength}}
            </mat-hint>
            <mat-error *ngIf="controlModel.errors">
                <span *ngIf="controlModel.errors.required;">Este campo es obligatorio</span>
            </mat-error>
        </mat-form-field>

        <!-- TextArea-->
        <mat-form-field *ngSwitchCase="'textarea'" style="width:100%">
            <textarea matInput placeholder="Textarea" style="" [formControlName]="field.id" placeholder="{{field.placeholder}}"></textarea>
            <mat-hint align="end" *ngIf="true">
                {{ formGroup.get(field.id).value.length || 0}}/100
            </mat-hint>
        </mat-form-field>


        <!-- TextInput AutoComplete-->
        <div *ngSwitchCase="'autocomplete'">
            <mat-form-field style="width:100%">
                <input type="text" matInput [formControlName]="field.id" placeholder="{{field.placeholder}}" [matAutocomplete]="auto" 
                    (blur)="onBlurAutoComplete()">
                    <mat-error *ngIf="controlModel.errors">
                            <span>Debe seleccionar un elemento valido</span>                
                    </mat-error>    
            </mat-form-field>

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" #autoComplete>
                    <mat-option *ngFor="let option of filteredOptions |async" [value]="option">
                        {{option.value.trim()}} - {{option.label.trim()}}
                    </mat-option>
            </mat-autocomplete>         


        </div>


        <!-- Dropdown List-->
        <mat-form-field *ngSwitchCase="'dropdown'" style="width:100%">
            <mat-select [formControlName]="field.id" [id]="field.id" placeholder="{{field.placeholder}}" [required]="field.required">
                <mat-option value="1" *ngFor="let option of optionList" [value]="option.value">
                    {{option.label}}
                </mat-option>

            </mat-select>
        </mat-form-field>

        <!-- Radio Group-->
        <mat-radio-group *ngSwitchCase="'radioGroup'" [formControlName]="field.id" 
        style="margin-top:-10px;display: inline-flex; flex-direction: column;text-align:left" >

            <mat-radio-button *ngFor="let option of optionList" [value]="option.value" style="margin: 5px;" (click)="onClickRadioButton($event)" >
                {{option.label}}
            </mat-radio-button>
        </mat-radio-group>

        <!-- Datepicker-->
        <mat-form-field *ngSwitchCase="'datepicker'" style="width:100%" >
            <input matInput placeholder="{{field.placeholder}}" [formControlName]="field.id" (blur)="onBlurDatepicker()" 
            [readonly]="field.readonly" [matDatepicker]="picker">
             
            <mat-datepicker-toggle matSuffix [for]="picker" *ngIf="!field.readonly"></mat-datepicker-toggle> 
            <mat-datepicker #picker></mat-datepicker>           

            <mat-error *ngIf="controlModel.errors">
                <span *ngIf="controlModel.errors.required;">El campo es obligatorio</span>
                <span *ngIf="!controlModel.errors.required">
                   <span *ngIf="controlModel.errors.invalidDate || controlModel.errors.incorrect || controlModel.errors.matDatepickerParse">Formato de fecha invalido.</span>
                   <span *ngIf="controlModel.errors.minDate">La fecha no puede ser antes de {{controlModel.errors.minDate | date:'dd-MM-yyyy'}}.</span>
                   <span *ngIf="controlModel.errors.maxDate">La fecha no puede ser despues de {{controlModel.errors.maxDate | date:'dd-MM-yyyy'}}.</span>
                </span>
            </mat-error>
        </mat-form-field>



    </div>
</div>