.mat-select{
    
    min-height: 50px;
}
table {
    border-collapse: collapse;
}

table,  th {
    border: 1px solid black;
}
th{
    height: 50px;
}
td{
    border: 1px solid #ddd;

}