<div class="login-component">
  <div class="login-box mat-elevation-z10" style="background-color:white;">

    <md-toolbar color="primary">
      <span>Iniciar Sesion</span>
    </md-toolbar>
   
    <div style="padding:40px">
      <md-input-container style="width:100%">
        <!-- <md-icon mdPrefix>home</md-icon>      
        <md-icon mdSuffix>home</md-icon>      
        -->
        <input mdInput placeholder="Empresa">
      </md-input-container>
      <md-input-container style="width:100%">
        <input mdInput placeholder="Usuario">
      </md-input-container>

      <md-input-container style="width:100%">
        <input mdInput placeholder="Contraseña">
      </md-input-container>

      <button md-raised-button color="primary">Iniciar</button>
  
    </div>
  </div>
</div>