<div class="form mat-elevation-z10" style="background-color:white;">
    <md-progress-bar mode="indeterminate" color="warn" *ngIf="loading">
    </md-progress-bar>
    <md-toolbar color="primary">
      <span style="margin:0 auto">Ingreso de carros</span>
    </md-toolbar>

    <form name="form" (ngSubmit)="login()" style="padding:40px" novalidate>

      <!-- <md-icon mdPrefix>home</md-icon>      
        <md-icon mdSuffix>home</md-icon>      
        -->
      <md-input-container style="width:49%">
        <input class="mat-display-1" mdInput placeholder="Documento"  name="company"  maxlength="10" required>                
      </md-input-container>
      <md-input-container style="width:49%">
        <input class="mat-display-1" mdInput placeholder="Nombre"  name="company"  maxlength="30" required>                
      </md-input-container>
      <md-input-container style="">
        <input class="mat-display-1" mdInput placeholder="Placa"  name="company"  maxlength="30" required>                
      </md-input-container>
      <md-input-container style="">
        <input class="mat-display-1" mdInput placeholder="Ciudad"  name="company"  maxlength="30" required>                
      </md-input-container>
      <md-input-container style="">
        <input class="mat-display-1" mdInput placeholder="Direccion"  name="company"  maxlength="30" required>                
      </md-input-container>
      
      
      
      <button type="submit" md-raised-button color="primary">Guardar</button>
    </form>
  </div>