.login-box {
  max-width:  90%;
  width: 500px;
  margin:auto; 
}

.login-component{
   height: 100%;
   width: 100%;
    display:flex;
   background-image: url('/assets/img.jpg');
   background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
   
  
}





   