.login-box{
  width:90%;
  margin:auto;
  
}

form{
  padding:5%;
  text-align:center;
 
}

.login-component{
  
  min-height: 100vh;
  width: 100%;
  display:flex;
  
  flex-direction: column;
  background: #eee;
  //background-image: url('/assets/img.jpg');
  background-size: cover;
  
   
  
}

footer { text-align: center; }

footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}

footer a {
	color: #4a89dc;
	text-decoration: none;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 80px;
	transition: all .2s ease;
}

footer img:hover { opacity: .83; }





@media all and (min-width: 768px){
  .login-box{
  width: 30%;
  height: auto;
  }
}











   