<div class="login-component">

  <div class="login-box mat-elevation-z10" style="background-color:white;">
    <mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading">
    </mat-progress-bar>
    <mat-toolbar color="primary">
      <span>Iniciar Sesión</span>
    </mat-toolbar>

    <form name="form" (ngSubmit)="login()" style="padding:40px" novalidate>

      <!-- <mat-icon matPrefix>home</mat-icon>      
        <mat-icon matSuffix>home</mat-icon>      
        -->
      <mat-form-field style="width:100%">
        <input class="mat-display-1" matInput placeholder="Empresa" [(ngModel)]="model.company" name="company" #company="ngModel" maxlength="10" required>
        <mat-error *ngIf="company.errors && company.errors.required">Por favor ingrese la empresa</mat-error>
      </mat-form-field>
      <mat-form-field style="width:100%">
        <input matInput placeholder="Correo" [(ngModel)]="model.email" name="email" #email="ngModel" type="email" (click)="test(email)"
          email required>
        <mat-error *ngIf="email.errors">
          Porfavor ingrese una direccion de correo valida
        </mat-error>      
      </mat-form-field>
      <mat-form-field style="width:100%">
        <input matInput placeholder="Contraseña" [(ngModel)]="model.password" name="password" #password="ngModel" required> 
        <mat-error *ngIf="password.errors && password.errors.required">
          Porfavor ingrese su contraseña
        </mat-error>              
      </mat-form-field>

 
      <button type="submit" mat-raised-button color="primary">Iniciar</button>

      
       
      
        
    </form>
  </div>
</div>